<nav class="cyan lighten-1">
    <div  >
      <a href="#" class="brand-logo">Logo</a>
      <ul id="nav-mobile" class="right hide-on-med-and-down">
          <div *ngIf="afAuth.user | async as user; else showLogin">
        <li><a >Hello {{ user.displayName }}!</a></li>
        <li><a (click)="logout()">Logout</a></li>
             </div>
             <ng-template #showLogin>
                <li><a (click)="login()">Login with Google</a></li>
             </ng-template>
      </ul>
    </div>
  </nav>
  

